/* resets */
ol{
	list-style-type:none;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: none;
	border-bottom: none;
}

/* Text & button Styling */
body{
	background-color: #E8E8E8;
	font-family: "Helvetica", "Arial", "Sans-serif";
	font-size: 13px;
	color: #595959;
	line-height: 17px;
}

p a{
	color: #fb5834;
}

p a:hover{
	border-bottom: 1px solid #fb5834;
}

h1{
	color: #2b2b2b;
	font-size: 18px;
	margin-bottom: 3px;
	padding-top: 3px;
}

h2{
	color: #2b2b2b;
}

.actions h2{
	margin-bottom: 6px;
}

.extras{
	color: #999999;
	font-size: 11px;
	font-weight: bold;
}

.fansfirst{
	background-image: url('../img/star.png');
	background-repeat: no-repeat;
	background-position: 0px 1px;	
	padding-left: 12px;
}

.bubble span{
	font-weight: bold;
	color: #2b2b2b;
}

/* Button Styling */

.button{	
	display: inline-block;
	padding: 7px 12px;
	border: none;
	font-weight: bold;
	color: white;
	background-color: #fb5834;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	transition: opacity .1s;
	-moz-transition: opacity .1s; /* Firefox 4 */
	-webkit-transition: opacity .1s; /* Safari and Chrome */
	-o-transition: opacity .1s; /* Opera */
}

.dl{
	background-image: url('../img/dl.png');
	background-repeat: no-repeat;
	background-position: 9px 9px;
	padding-left: 26px;
}

.twitter{
	background-color: #00AED9;
	background-image: url('../img/twitter.png');
	background-repeat: no-repeat;
	background-position: 9px 10px;
	padding-left: 26px;
	margin-right: 7px;

}

.facebook{
	background-color: #005796;
	background-image: url('../img/facebook.png');
	background-repeat: no-repeat;
	background-position: 9px 9px;
	padding-left: 26px;
	margin-right: 7px;
}

.star{
	background-image: url('../img/whiteStar.png');
	background-repeat: no-repeat;
	background-position: 9px 11px;
	padding-left: 22px;
}

.close{
	margin-left: 60px;
}

.button:hover{
	opacity: .9;
}

.complete .button{
	background-color: #BFBFBF;
	pointer-events: none;
    cursor: default;
}

.complete .twitter:after{
	content: 'ed';
}

.complete .facebook:after{
	content: 'd';
}

/* Main Styling */

#wrapper{
	margin: 30px auto;
	width: 50%;
	min-width: 288px;
	max-width: 640px;
	height: 200px;
}

.container{
	position: relative;
	padding: 15px;
	width: 100%;
	height: 100%;
	background-color: #F2F2F2;
	border: 1px solid #b3b3b3;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;		
}

.modal{
	width: 327px;
	height: 229px;
	background-image: url('../img/modlabg.png');
	background-repeat: no-repeat;
	border: 1px solid #b3b3b3;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.module .info .noMargin{
	margin-left: 0px;
}



.overlay{
	backg
}

.module{
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #b3b3b3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.modulewrap{
	padding-bottom: 29px;
	position: relative;
}

.dlpreview .info, .dlpreview .actions{
	margin-left: 40px;
	border-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	line-height: 16px;
}

.bubble{
	position: relative;
	margin-left: 60px;
}

.thumb img{
	position: absolute;
	margin-right: 10px;
	width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.info, .actions{
	margin-left: 85px;
}

.noMargin{
	margin-left: 0px;
}

.containerModal .info, .containerModal .actions{
	margin-left: 0px;
}

.bubble .info, .bubble .actions{
	margin-left: 0px;
}

.large{
	position: absolute;
	width: 75px;
	height: 75px;
}

.medium{
	position: absolute;
	width: 50px;
	height: 50px;
}

.small{
	position: absolute;
	width: 30px;
	height: 30px;
}

.info{
	margin-top: -3px;
	margin-bottom: 10px;
	border-bottom: 1px solid #b3b3b3;
	padding-bottom: 5px;
}

.entry{
	margin-right: 10px;
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	width: 164px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #b3b3b3;
	height: 30px;
	background-color: #f2f2f2;
	padding-left: 10px;

}


/* pagination */

.pagination li{
	display:inline;
	padding: 2px 6px;
	background-color: #fff;
	border: 1px solid #b3b3b3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.pagination li:hover{
	font-weight: bold;
	border-bottom: none;
}

.pagination{
	text-decoration: none;
	color: #999999;
	float: right;
}

.pagination .currentPage{
	color: #FB5834;
	font-weight: bold;
	border: 1px solid #FB5834;
	pointer-events: none;
    cursor: default;

}

.footer{
	background-color: #2b2b2b;
	padding: 5px 16px 5px 16px;
	width: 100%;
	color: #fff;
 	font-weight: bold;
 	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.footer img{
	float: right;
}

/* css arrow */


.bubble:after, .bubble:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubble:after {
	border-right-color: #ffffff;
	border-width: 5px;
	top: 15px;
	margin-top: -5px;
}
.bubble:before {
	border-right-color: #b3b3b3;
	border-width: 6px;
	top: 15px;
	margin-top: -6px;
}


.arrowtop:after, .arrowtop:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrowtop:after {
	border-bottom-color: #ffffff;
	border-width: 5px;
	left: 24px;
	margin-left: -5px;
}
.arrowtop:before {
	border-bottom-color: #b3b3b3;
	border-width: 6px;
	left: 24px;
	margin-left: -6px;
}


.last{
	margin-bottom: 0px;
}