<!--
This example is a proof of concept, for how to use the Yelp v2 API with javascript.
You wouldn't actually want to expose your access token secret like this in a real application.
-->

<html> 
<head> 
<title>Yelp OAuth Example</title> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
<script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
<script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript">
var auth = { 
  //
  // Update with your auth tokens.
  //
  consumerKey: "S8oQlyMqBX9iHJ56ZgkZ-Q", 
  consumerSecret: "Vp-NSBL8QpGPRH_F37uSMoHLVXc",
  accessToken: "OMuCBNCAscgAuVK-Nzd_sQS6pM6RFQgy",
  // This example is a proof of concept, for how to use the Yelp v2 API with javascript.
  // You wouldn't actually want to expose your access token secret like this in a real application.
  accessTokenSecret: "3oKLM3f5GM5KZ2rKUHSzsK7FtEo",
  serviceProvider: { 
    signatureMethod: "HMAC-SHA1"
  }
};

var terms = 'food';
var near = '650+California+st+San+Francisco';

var accessor = {
  consumerSecret: auth.consumerSecret,
  tokenSecret: auth.accessTokenSecret
};

parameters = [];
parameters.push(['term', terms]);
parameters.push(['location', near]);
parameters.push(['callback', 'cb']);
parameters.push(['oauth_consumer_key', auth.consumerKey]);
parameters.push(['oauth_consumer_secret', auth.consumerSecret]);
parameters.push(['oauth_token', auth.accessToken]);
parameters.push(['oauth_signature_method', 'HMAC-SHA1']);

var message = { 
  'action': 'http://api.yelp.com/v2/search',
  'method': 'GET',
  'parameters': parameters 
};

OAuth.setTimestampAndNonce(message);
OAuth.SignatureMethod.sign(message, accessor);

var parameterMap = OAuth.getParameterMap(message.parameters);
parameterMap.oauth_signature = OAuth.percentEncode(parameterMap.oauth_signature)
console.log(parameterMap);

$.ajax({
  'url': message.action,
  'data': parameterMap,
  'cache': true,
  'dataType': 'jsonp',
  'jsonpCallback': 'cb',
  'success': function(data, textStats, XMLHttpRequest) {
    console.log(data);
    render(data);
  }
});
</script>
</head> 
<body>
  <div class="yelp-display"></div>
  <script class="template" type="underscore/template">
	  <div data-rating="<%- business.rating %>" class="restaurant">
	    <div><%- business.name %></div>
	    <img class="image_url" src="<%- business.image_url %>" />
	    <img src="<%- business.rating_img_url %>" />
	    <div class="address"><% var displayAddress = business.location.display_address %>
	      <% if(displayAddress) { %>
	      <div><%- displayAddress[0] %></div>
	      <div><%- displayAddress[1] %></div>
	      <div><%- displayAddress[2] %></div>
	      <% } %>
	    </div>
	  </div>
	</script>
<style>

</style>
<script type="text/javascript">
  $(function() {
    var template = $(".template").text()
    render = function(data) {
      var businesses = data.businesses;
      var lucky = Math.floor(Math.random()*data.businesses.length);
      var asishDAAAAAASH = businesses[lucky];
      var html = _.template(template, {business: asishDAAAAAASH});
      $(".yelp-display").html(html);
    }
  });
</script>
</body>
</html>
