a{
text-decoration: none;
}

body{
font-family:Helvetica, sans-serif;	
color: #999999;
background-image: url('../img/black_denim.png');
background-color: #232323;
font-size: 13px;
}

.wrapper{
padding-top: 50px;
}

.main-content, .sidebar{
padding-top: 40px;
}

.entry{
margin-bottom: 30px;
border-bottom: 1px solid #333333;
}

.entry-last{
border-bottom: none;
}

.header{
border-bottom: 1px solid #333333;
}

.footer{
border-top: 1px solid #333333;
padding-top: 20px;
height: 100px;
margin-top: 40px;
}

.footer li{
display: inline;
}

.sidebar{
float: right;
}

h1, h2, h3, h4 .stats{
margin-bottom: 6px;
}

h1, h2, h3, .button{
font-family: "nimbus-sans-condensed",georgia;
font-style: normal;
font-weight: 400;
text-transform: uppercase;
font-size: 18px;
color: white;
}

h1{
font-size: 60px;
line-height: 40px;
}

h2{
padding-left: 3px;
font-size: 19px;
color: #99ff66;
}

.button{
background-color: white;
color: black;
border: none;
font-size: 14px;
margin-bottom: 30px;
text-decoration: none;
cursor: pointer;
line-height: 19px;
padding-right: 7px;
padding-left: 7px;
}

.button:hover{
background-color: #99ff66;
}

.description{
line-height: 21px;
font-family: Georgia, serif;
padding-top: 5px;
margin-bottom: 15px;
}

.stats, .footer li a{
font-family: Helvetica, Serif;
color: white; 
font-size: 10px;
letter-spacing: 0.7px;
text-transform: uppercase;
}

.footer li a:hover{
color: #99ff66;
}

.footer p{
color:
#999999;
}

.highlight{
font-family: Georgia, Serif;
font-style: italic;
font-weight: normal;
font-size: 13px;
text-transform: none;
color: #99ff66;
}

.entry .highlight, .entry-last .highlight{
padding-left: 5px;
}

a.highlight{
text-decoration: underline;
}

.mikephoto, .about-mike{
width: 200px;
padding-left: 20px;
}
.mikephoto img{
max-width: 200px;
margin-bottom: 20px;
}

.preview-photo img{
max-width: 100%;
margin-bottom: 30px;
opacity: .2;
filter: alpha(opacity=30);
-webkit-transition: all .12s ease-in-out;
-moz-transition: all .12s ease-in-out;
-o-transition: all .12s ease-in-out;
-ms-transition: all .12s ease-in-out;
transition: all .12s ease-in-out;
}

.entry:hover img, .entry-last:hover img{
opacity: 1;
}

.preview-photo{
float:left;
}

.preview-info{
}

.typekit-badge {display:none !important;}

