require valid-user
AuthType Basic
AuthName "What the hell are you doing here? You're not supposed to see this folder!"
AuthUserFile /home/175551/.htpasswd
AuthGroupFile /home/175551/.htgroup
Require group admins
Require user admin
