.overlay1 {
		position: absolute;
		top: 8px;
		left: 373px;
		-webkit-animation-duration: 1.8s;
		-webkit-animation-delay:.7s; /* Safari and Chrome */
		z-index: 2;
	}
	
.overlay2 {
		z-index: 3;
	}
		
#wrapper {
	text-align: center;
	margin: 0 auto;	
}
