/* Resets */


* {
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility; 
}

/* Sticky Footer */

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 60px; /* .push must be the same height as .footer */
}

/* Background Image */

html {
	min-height: 100%;
	padding: 20px 20px 0px 20px;
	color: #fff;
	font: 15px/145% 'Bitter', 'Georgia', 'Cambria', serif;
	-webkit-font-smoothing: antialiased;
}



/* Text Styling */


a {
	color: #ffd333;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #ffd333;
}

.quote {
	font-family: 'Helvetica', 'Arial', sans-serif;
	line-height: 52px;
	margin-bottom: 15px;
	letter-spacing: -.03em;
	font-size: 3em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

.description {
	margin-bottom: 22px;
	font-size: 1.2em;
}


/* Positioning */

.bananawrap {
	margin: 0px auto 20px;
	max-width: 540px;
}

.bluth {
	padding: 2.8125em 2.8125em 2.4em 2.8125em;
	border-radius: 5px;
	box-sizing: border-box;	
	background-color: rgba(0,0,0,.1);
}

.info {
	margin: 0 auto;
	max-width: 580px;
	box-sizing: border-box;	
	text-align: center;
}

.small {
	padding: .5em;
	background-color: none;
	float: left;
}

.inline-refresh {
	margin-top: -4px;
	opacity: .4;
    transition: all .5s ease-out;
   -moz-transition: all .5s ease-out;
   -webkit-transition: all .5s ease-out;
	width: 40px;
	height: 40px;
	background: url('../img/refresh.svg') no-repeat -2px -2px;
	float: right;
	border-bottom: : none !important;
}

.inline-refresh:hover {
	opacity: 1;
	transform:rotate(360deg);
	-ms-transform:rotate(360deg); /* IE 9 */
	-moz-transform:rotate(360deg); /* Firefox */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	-o-transform:rotate(360deg); /* Opera */
}

#refresh {
	cursor: hand;
}

/* Highlight Coloring */

::-moz-selection {
       background-color: #FFD333;
       color: #fff;
}

::selection {
       background-color: #FFD333;
       color: #fff;
}


/** Media Queries **/

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

	.quote {
		font-size: 2.2em;
		line-height: 35px;
	}
	.bananawrap {
		padding: 0px;
	}
	
	.bluth {
		padding: 2em;
	}
		
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	.quote {
		font-size: 2.2em;
		line-height: 35px;
		}
	.bananawrap {
		padding: 0px;
	}
		
	.bluth {
		padding: 2em;
	}
}


/* Character Backgrounds */


.gob {
	background: #EC5424 url("../img/gob.jpg") no-repeat 20% center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.tobias {
	background: #EC5424 url("../img/tobias.jpg") no-repeat 20% center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.tobiasBlue {
	background: #3587ec url("../img/tobias-blue.jpg") no-repeat 20% center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.lindsay {
	background: #EC5424 url("../img/lindsay.jpg") no-repeat 20% center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.lucille {
	background: #EC5424 url("../img/lucille.jpg") no-repeat 20% center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}


.michael {
	background: #EC5424 url("../img/michael.jpg") no-repeat 20% center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.maeby {
	background: #EC5424 url("../img/maeby.jpg") no-repeat 20% center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}


.buster {
	background: #EC5424 url("../img/buster.jpg") no-repeat 20% center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.georgeSr {
	background: #EC5424 url("../img/georgeSr.jpg") no-repeat 20% center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;	
}

.georgeMichael {
	background: #EC5424 url("../img/georgeMichael.jpg") no-repeat 20% center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;	
}

