@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Colors */
/* $base: #343B43; */
* {
  outline: none; }

h1,
h2,
h3,
h4,
p,
a {
  text-rendering: optimizeLegibility; }

html, body {
  overflow-x: hidden; }

html {
  position: relative;
  min-height: 100%; }

body {
  display: block;
  font-family: "freight-sans-pro";
  font-weight: 100;
  font-size: 20px;
  line-height: 32px;
  font-weight: 100;
  background: #343543;
  color: #f5ece6;
  text-align: center;
  margin: 0 0 140px;
  /* bottom = footer height */ }

.main-nav {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .02em;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 18px;
  padding-top: 60px;
  padding-bottom: 40px; }
  .main-nav a {
    color: #f5ece6; }
  @media screen and (max-width: 480px) {
    .main-nav {
      padding-top: 20px;
      padding-bottom: 30px; } }
  .main-nav ul {
    padding: 0; }
    @media screen and (max-width: 480px) {
      .main-nav ul {
        float: right; } }
  .main-nav li {
    list-style: none; }
    .main-nav li:first-child {
      float: right;
      text-align: right; }
    .main-nav li:last-child {
      float: left;
      text-align: left; }
      @media screen and (max-width: 480px) {
        .main-nav li:last-child {
          margin-right: 20px; } }
    .main-nav li:first-child a, .main-nav li:last-child a {
      background: #2e2f3c;
      padding: 14px 22px;
      border-radius: 3px;
      -webkit-transition: all 0.025s ease-out;
      -moz-transition: all 0.025s ease-out;
      transition: all 0.025s ease-out; }
      .main-nav li:first-child a:hover, .main-nav li:first-child a:focus, .main-nav li:last-child a:hover, .main-nav li:last-child a:focus {
        box-shadow: inset 0 0 0 3px #de4053; }
      @media screen and (max-width: 480px) {
        .main-nav li:first-child a, .main-nav li:last-child a {
          font-size: 16px;
          padding: 14px 16px; } }
    @media screen and (max-width: 480px) {
      .main-nav li:first-child, .main-nav li:last-child {
        float: right;
        text-align: right;
        vertical-align: super; } }
  .main-nav #mark {
    position: absolute;
    left: 50%;
    margin: -22px 0 0 -30px; }
    .main-nav #mark svg {
      fill: #f5ece6;
      width: 60px;
      height: 62px; }
      @media screen and (max-width: 480px) {
        .main-nav #mark svg {
          width: 40px; } }
    @media screen and (max-width: 480px) {
      .main-nav #mark {
        left: 20px;
        margin-left: 0;
        margin-top: -21px; } }

.page-nav {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .02em;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 60px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .page-nav {
      margin-bottom: 0; } }
  .page-nav .back:before {
    content: "‹ ";
    vertical-align: baseline;
    font-size: 36px; }
  .page-nav .forward:after {
    content: " ›";
    vertical-align: baseline;
    font-size: 36px; }
  .page-nav .solo {
    margin-left: 52.17391%; }
    @media screen and (max-width: 768px) {
      .page-nav .solo {
        margin-left: 0%; } }
  .page-nav .back,
  .page-nav .forward {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 47.82609%;
    background: #2e2f3c;
    padding: 24px 10px 28px 10px;
    border-radius: 3px;
    margin-bottom: 20px; }
    .page-nav .back:last-child,
    .page-nav .forward:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .page-nav .back,
      .page-nav .forward {
        float: left;
        display: block;
        margin-right: 4.34783%;
        width: 100%; }
        .page-nav .back:last-child,
        .page-nav .forward:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      .page-nav .back,
      .page-nav .forward {
        float: left;
        display: block;
        margin-right: 6.66667%;
        width: 100%;
        font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
        font-weight: 900;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: .02em;
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
        line-height: 18px; }
        .page-nav .back:last-child,
        .page-nav .forward:last-child {
          margin-right: 0; } }
  .page-nav .full-width {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 100%; }
    .page-nav .full-width:last-child {
      margin-right: 0; }
  .page-nav .back,
  .page-nav .forward,
  .page-nav .solo,
  .page-nav .full-width {
    -webkit-transition: all 0.025s ease-out;
    -moz-transition: all 0.025s ease-out;
    transition: all 0.025s ease-out; }
    .page-nav .back:hover, .page-nav .back:focus,
    .page-nav .forward:hover,
    .page-nav .forward:focus,
    .page-nav .solo:hover,
    .page-nav .solo:focus,
    .page-nav .full-width:hover,
    .page-nav .full-width:focus {
      box-shadow: inset 0 0 0 3px #de4053; }

footer {
  text-align: left;
  background-color: #2e2f3c;
  height: 140px;
  font-size: 16px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 140px;
  width: 100%; }
  footer > div {
    padding-top: 30px; }
  footer .backToTop span {
    vertical-align: middle; }
  footer p {
    float: left;
    margin: 0; }
    @media screen and (max-width: 480px) {
      footer p {
        float: none;
        text-align: center; } }
  footer ul {
    list-style: none;
    float: right;
    padding: 0;
    margin: 0 0 10px 0; }
    @media screen and (max-width: 480px) {
      footer ul {
        float: none;
        text-align: center; } }
  footer li {
    text-align: right;
    margin-left: 1em;
    display: inline; }
    footer li:before {
      content: "|";
      letter-spacing: 1em; }
    footer li:first-child:before {
      content: none;
      margin-left: none; }

h1,
.titling {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .02em;
  -webkit-font-smoothing: antialiased;
  font-size: 64px;
  line-height: 74px;
  text-shadow: 10px 10px #24252e; }
  @media screen and (max-width: 480px) {
    h1,
    .titling {
      font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
      font-weight: 900;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: .02em;
      -webkit-font-smoothing: antialiased;
      font-size: 40px;
      line-height: 44px;
      text-shadow: 6px 6px #24252e; } }

h2 {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .02em;
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
  line-height: 44px;
  text-shadow: 6px 6px #24252e;
  margin-bottom: 40px; }
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 32px;
      line-height: 36px;
      text-shadow: 4px 4px #24252e; } }

h3 {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .02em;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  line-height: 36px; }
  @media screen and (max-width: 768px) {
    h3 {
      font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
      font-weight: 900;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: .02em;
      -webkit-font-smoothing: antialiased;
      font-size: 22px;
      line-height: 26px; } }

h4 {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .02em;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  line-height: 26px; }

.wrapper-highlight {
  background-color: #de4053; }
  .wrapper-highlight .about {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 80px;
    position: relative; }
    .wrapper-highlight .about #avatar {
      position: absolute;
      left: 50%;
      margin-left: -72px;
      top: -80px; }
    .wrapper-highlight .about ul.social {
      text-align: center;
      padding: 0;
      margin: 60px 0 0; }
      @media screen and (max-width: 480px) {
        .wrapper-highlight .about ul.social {
          margin-top: 40px; } }
      .wrapper-highlight .about ul.social li {
        display: inline-block;
        margin-right: 40px;
        -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
        @media screen and (max-width: 480px) {
          .wrapper-highlight .about ul.social li {
            margin-right: 20px; } }
        .wrapper-highlight .about ul.social li:hover img {
          -webkit-transform: translatey(-10px);
          -moz-transform: translatey(-10px);
          -ms-transform: translatey(-10px);
          -o-transform: translatey(-10px);
          transform: translatey(-10px); }
        .wrapper-highlight .about ul.social li:hover .shadow {
          -webkit-transform: scale(1.25);
          -moz-transform: scale(1.25);
          -ms-transform: scale(1.25);
          -o-transform: scale(1.25);
          transform: scale(1.25);
          background: rgba(46, 47, 60, 0.1); }
        .wrapper-highlight .about ul.social li .shadow {
          width: 50px;
          height: 10px;
          background: rgba(46, 47, 60, 0.175);
          border-radius: 50px / 10px;
          margin-top: 20px;
          -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
          transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
        .wrapper-highlight .about ul.social li:last-child {
          margin-right: 0; }
      .wrapper-highlight .about ul.social img {
        -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        height: 40px; }
    @media screen and (max-width: 480px) {
      .wrapper-highlight .about {
        margin-bottom: 40px;
        padding-bottom: 40px; } }

.about {
  padding: 0 0 80px;
  text-align: left; }
  .about #avatar {
    box-shadow: 0 0 0 3px rgba(31, 31, 40, 0.4);
    border-radius: 100px; }

.text-columns {
  text-align: left;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px; }
  .text-columns a,
  .text-columns strong,
  .text-columns em {
    color: #fff;
    font-weight: 500; }
  @media screen and (max-width: 480px) {
    .text-columns {
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1;
      -webkit-column-gap: 0px;
      -moz-column-gap: 0px;
      column-gap: 0px; } }

a {
  color: #f5ece6;
  text-decoration: none; }

p a {
  color: #fff;
  font-weight: 500; }
  p a:hover {
    border-bottom: 1px solid #de4053; }

#main-title {
  margin-bottom: 80px; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

.label {
  position: absolute;
  bottom: 14px;
  right: 14px;
  line-height: 0;
  font-size: 14px;
  background: rgba(46, 47, 60, 0.75);
  padding: 14px 12px 16px 12px;
  border-radius: 3px; }
  .label a {
    text-decoration: underline; }

.about,
.work,
.main-nav,
#main-title,
footer > div,
.external,
.page-nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  .about:after,
  .work:after,
  .main-nav:after,
  #main-title:after,
  footer > div:after,
  .external:after,
  .page-nav:after {
    content: "";
    display: table;
    clear: both; }

.fourbyfour {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
  .fourbyfour:after {
    content: "";
    display: table;
    clear: both; }
  .fourbyfour figure {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 47.82609%; }
    .fourbyfour figure:last-child {
      margin-right: 0; }
    .fourbyfour figure:nth-child(2n) {
      margin-right: 0; }
    .fourbyfour figure:nth-child(2n+1) {
      clear: left; }
    @media screen and (max-width: 768px) {
      .fourbyfour figure {
        float: left;
        display: block;
        margin-right: 4.34783%;
        width: 100%; }
        .fourbyfour figure:nth-child(2n) {
          margin-right: 4.34783%; }
        .fourbyfour figure:nth-child(2n+1) {
          clear: none; }
        .fourbyfour figure:last-child {
          margin-right: 0; } }

ul.work-grid {
  padding: 0; }
  ul.work-grid li {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 47.82609%;
    margin-bottom: 40px;
    position: relative;
    color: #f5ece6;
    text-align: left; }
    ul.work-grid li:last-child {
      margin-right: 0; }
    ul.work-grid li:nth-child(2n) {
      margin-right: 0; }
    ul.work-grid li:nth-child(2n+1) {
      clear: left; }
    @media screen and (max-width: 480px) {
      ul.work-grid li {
        float: left;
        display: block;
        margin-right: 6.66667%;
        width: 100%; }
        ul.work-grid li:nth-child(2n) {
          margin-right: 4.34783%; }
        ul.work-grid li:nth-child(2n+1) {
          clear: none; }
        ul.work-grid li:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 768px) {
      ul.work-grid li {
        margin-bottom: 20px; } }
    ul.work-grid li p {
      line-height: 22px; }
    ul.work-grid li > * {
      border-radius: 4px; }
    ul.work-grid li#jbilling-preview .overlay {
      background: rgba(142, 197, 73, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      ul.work-grid li#jbilling-preview .overlay .description {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        transition: all 0.15s linear;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0 40px; }
        ul.work-grid li#jbilling-preview .overlay .description h3 {
          margin-bottom: -14px; }
      ul.work-grid li#jbilling-preview .overlay:hover {
        opacity: .999; }
    ul.work-grid li#signage-preview .overlay {
      background: rgba(134, 134, 134, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      ul.work-grid li#signage-preview .overlay .description {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        transition: all 0.15s linear;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0 40px; }
        ul.work-grid li#signage-preview .overlay .description h3 {
          margin-bottom: -14px; }
      ul.work-grid li#signage-preview .overlay:hover {
        opacity: .999; }
    ul.work-grid li#hertz-preview .overlay {
      background: rgba(223, 175, 38, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      ul.work-grid li#hertz-preview .overlay .description {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        transition: all 0.15s linear;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0 40px; }
        ul.work-grid li#hertz-preview .overlay .description h3 {
          margin-bottom: -14px; }
      ul.work-grid li#hertz-preview .overlay:hover {
        opacity: .999; }
    ul.work-grid li#widgets-preview .overlay {
      background: rgba(132, 136, 139, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      ul.work-grid li#widgets-preview .overlay .description {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        transition: all 0.15s linear;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0 40px; }
        ul.work-grid li#widgets-preview .overlay .description h3 {
          margin-bottom: -14px; }
      ul.work-grid li#widgets-preview .overlay:hover {
        opacity: .999; }
    ul.work-grid li#bananastand-preview .overlay {
      background: rgba(216, 92, 68, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      ul.work-grid li#bananastand-preview .overlay .description {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        transition: all 0.15s linear;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0 40px; }
        ul.work-grid li#bananastand-preview .overlay .description h3 {
          margin-bottom: -14px; }
      ul.work-grid li#bananastand-preview .overlay:hover {
        opacity: .999; }
    ul.work-grid li#responsive-preview .overlay {
      background: rgba(221, 64, 83, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      ul.work-grid li#responsive-preview .overlay .description {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        transition: all 0.15s linear;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0 40px; }
        ul.work-grid li#responsive-preview .overlay .description h3 {
          margin-bottom: -14px; }
      ul.work-grid li#responsive-preview .overlay:hover {
        opacity: .999; }
    ul.work-grid li#transform-preview .overlay {
      background: rgba(225, 78, 105, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      ul.work-grid li#transform-preview .overlay .description {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        transition: all 0.15s linear;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0 40px; }
        ul.work-grid li#transform-preview .overlay .description h3 {
          margin-bottom: -14px; }
      ul.work-grid li#transform-preview .overlay:hover {
        opacity: .999; }
    ul.work-grid li#marketplace-preview .overlay {
      background: rgba(0, 154, 192, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      ul.work-grid li#marketplace-preview .overlay .description {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        transition: all 0.15s linear;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0 40px; }
        ul.work-grid li#marketplace-preview .overlay .description h3 {
          margin-bottom: -14px; }
      ul.work-grid li#marketplace-preview .overlay:hover {
        opacity: .999; }
    ul.work-grid li#badge-preview .overlay {
      background: rgba(232, 127, 138, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      ul.work-grid li#badge-preview .overlay .description {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        transition: all 0.15s linear;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0 40px; }
        ul.work-grid li#badge-preview .overlay .description h3 {
          margin-bottom: -14px; }
      ul.work-grid li#badge-preview .overlay:hover {
        opacity: .999; }
    ul.work-grid li#uif-preview .overlay {
      background: rgba(64, 137, 162, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      ul.work-grid li#uif-preview .overlay .description {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        transition: all 0.15s linear;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0 40px; }
        ul.work-grid li#uif-preview .overlay .description h3 {
          margin-bottom: -14px; }
      ul.work-grid li#uif-preview .overlay:hover {
        opacity: .999; }
    ul.work-grid li#eesho-preview .overlay {
      background: rgba(67, 204, 133, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      ul.work-grid li#eesho-preview .overlay .description {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        transition: all 0.15s linear;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0 40px; }
        ul.work-grid li#eesho-preview .overlay .description h3 {
          margin-bottom: -14px; }
      ul.work-grid li#eesho-preview .overlay:hover {
        opacity: .999; }
    ul.work-grid li#leftronic-preview .overlay {
      background: rgba(243, 215, 102, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear; }
      ul.work-grid li#leftronic-preview .overlay .description {
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        transition: all 0.15s linear;
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0;
        padding: 0 40px; }
        ul.work-grid li#leftronic-preview .overlay .description h3 {
          margin-bottom: -14px; }
      ul.work-grid li#leftronic-preview .overlay:hover {
        opacity: .999; }

.section-wrap {
  padding: 0 20px; }

.twoUp > * {
  display: inline-block; }
.twoUp img {
  margin-right: 30px; }

figcaption {
  position: absolute;
  top: 24px;
  left: -6px;
  background: #de4053;
  padding: 10px 14px;
  line-height: 18px;
  border-radius: 3px 3px 3px 0;
  font-size: 16px;
  font-weight: 400;
  box-shadow: -4px 4px 0 0 rgba(46, 47, 60, 0.2); }
  figcaption:before {
    width: 6px;
    height: 3px;
    content: "";
    background: #de4053;
    position: absolute;
    left: 0;
    bottom: -3px; }
  figcaption:after {
    width: 6px;
    height: 6px;
    content: "";
    background: #7a232d;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 5px 0 0 5px; }
  @media screen and (max-width: 768px) {
    figcaption {
      top: 14px; } }
  @media screen and (max-width: 480px) {
    figcaption {
      top: 8px;
      font-size: 14px;
      line-height: 14px; } }

.text-block {
  text-align: left;
  padding: 48px;
  border-radius: 4px;
  background-color: #2e2f3c;
  margin-bottom: 40px; }
  .text-block > * {
    margin: 0; }
  .text-block h3, .text-block h4 {
    margin-bottom: 14px; }
  @media screen and (max-width: 480px) {
    .text-block {
      padding: 30px; }
      .text-block h3, .text-block h4 {
        margin-bottom: 10px; } }

.work figure,
.work img,
.work .overlay {
  border-radius: 4px; }
.work img {
  box-shadow: 0 0 0 3px #2e2f3c; }
.work > p {
  margin-top: 14px;
  margin-bottom: 50px; }
  @media screen and (max-width: 480px) {
    .work > p {
      margin-bottom: 30px; } }
.work .work-item {
  margin-bottom: 40px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .work .work-item {
      margin-bottom: 20px; } }
.work .transparent {
  padding: 80px 80px;
  background: #2e2f3c; }
  .work .transparent img {
    box-shadow: none; }
  @media screen and (max-width: 768px) {
    .work .transparent {
      padding: 30px 30px; } }
.work .dark {
  background: #2e2f3c; }
.work .light {
  background: #f5ece6; }
.work .highlight {
  background: #de4053; }
.work .jbilling-green {
  background: #8ec549; }
.work .jbilling-purple {
  background: #405884; }
.work .jbilling-gray {
  background: #f1f1f1; }
.work .transform-yellow {
  background: #f7d200; }
.work .transform-blue {
  background: #2289ce; }
.work .transform-red {
  background: #ec375a; }
.work .transform-green {
  background: #3fe3a1; }

input[type=text],
input[type=email],
input[type=submit],
textarea {
  -webkit-appearance: none;
  /* Removes native styling on iOS */
  margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    input[type=text],
    input[type=email],
    input[type=submit],
    textarea {
      margin-bottom: 20px; } }

fieldset {
  border: none;
  color: #f5ece6;
  display: block;
  padding: 20px 0 0;
  margin: 0; }
  fieldset .input,
  fieldset textarea {
    border: 0;
    padding: 20px;
    background: #3d3e4e;
    color: #f5ece6;
    border-radius: 3px;
    box-shadow: 0 3px 0 0 #2e2f3c; }
    fieldset .input:focus, fieldset .input:active,
    fieldset textarea:focus,
    fieldset textarea:active {
      box-shadow: inset 0 0 0 3px #f5ece6; }
  fieldset .input {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 47.82609%; }
    fieldset .input:last-child {
      margin-right: 0; }
    fieldset .input:nth-child(2n) {
      margin-right: 0; }
    fieldset .input:nth-child(2n+1) {
      clear: left; }
    @media screen and (max-width: 768px) {
      fieldset .input {
        float: left;
        display: block;
        margin-right: 4.34783%;
        width: 100%; }
        fieldset .input:nth-child(2n) {
          margin-right: 4.34783%; }
        fieldset .input:nth-child(2n+1) {
          clear: none; }
        fieldset .input:last-child {
          margin-right: 0; } }
  fieldset textarea {
    float: left;
    display: block;
    margin-right: 4.34783%;
    width: 100%;
    height: 300px;
    resize: none; }
    fieldset textarea:last-child {
      margin-right: 0; }

input[type="submit"] {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .02em;
  -webkit-font-smoothing: antialiased;
  font-size: 22px;
  line-height: 26px;
  float: left;
  display: block;
  margin-right: 4.34783%;
  width: 100%;
  border: 0;
  background: #2e2f3c;
  padding: 29px 10px 28px 10px;
  border-radius: 3px;
  margin-bottom: 80px;
  -webkit-transition: all 0.025s ease-out;
  -moz-transition: all 0.025s ease-out;
  transition: all 0.025s ease-out; }
  input[type="submit"]:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    input[type="submit"] {
      margin-bottom: 20px; } }
  @media screen and (max-width: 480px) {
    input[type="submit"] {
      font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
      font-weight: 900;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: .02em;
      -webkit-font-smoothing: antialiased;
      font-size: 18px;
      line-height: 18px; } }
  input[type="submit"]:hover, input[type="submit"]:focus {
    box-shadow: inset 0 0 0 3px #de4053; }

::-webkit-input-placeholder {
  color: #61627c; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #61627c; }
